@using Aiminfomatics.Helpers
@using Kentico.PageBuilder.Web.Mvc

@model Aiminfomatics.Models.MobileApplicationIndexViewModel

@{
    ViewData["Title"] = HtmlLocalizer["Home"];
}
@*@Html.Kentico().ResolveUrls*@

@section styles
    {
    @* Includes CSS necessary for page builder functionality *@
    <page-builder-styles />
}
    @section scripts
    {
    @* Includes scripts necessary for page builder functionality *@
    <page-builder-scripts />
}

    @foreach (var mobAppSection in Model.MobileApplicationSections)
{ 
    <div class="inr_banr">
           <div class="container">
           		<div class="banner_ttl">@mobAppSection.MobileApp</div>
           		<div class="banner_txt">@mobAppSection.Satisfaction</div>
           </div>
        </div>
        <div class="harki">
        	<div class="container">
            	<ul class="hrky">
                	<li><a href="#">Home</a></li>
                    <li><a href="#">> Mobile Application</a></li>
                </ul>
            </div>
        </div>


    <section class="main_con">
        <div class="container">
            <div class="row">
                <div class="span12">
                    @Html.Kentico().ResolveUrls(mobAppSection.MobileApplication)
                    </div>
                </div>
            </div>
 
    </section>

}